@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff8b;
}

.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #593316;
  padding: 5px;
  width: 300px;
  height: 50px;
  border-radius: 50px;
  margin: 10px;
  position: relative;
  transition: width 1.5s;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #593316;
}

button.random {
  border: 1px solid #593316;
  background-color: #7d5639;
  padding: 5px 20px;
  border-radius: 50px;
  height: 50px;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button.random:hover {
  border: 1px solid #593316;
  background-color: #ffffff;
  padding: 5px 20px;
  border-radius: 50px;
  height: 50px;
  color: black;
}

.input {
  margin: 10px 50px;
  margin-left: 20px;
  width: 100%;
  color: #593316;
  border: none;
  background: transparent;
  outline: none;
  transition-delay: 0.5s;
}

.magnifier {
  position: absolute;
  right: 15px;
  width: 25px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  color: #ffa31a;
}

ul li {
  display: inline;
  margin-left: 40px;
  font-family: sans-serif;
  cursor: pointer;
}

main.top-content {
  display: flex;
  justify-content: center;
  height: 80vh;
  background: #603813; 
  background: -webkit-linear-gradient(
    to right,
    #b29f94,
    #603813
  ); 
  background: linear-gradient(
    to right,
    #b29f94,
    #603813
  ); 
}

.container {
  width: 70%;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-container {
  width: 50%;
}

.content-container h1 {
  font-family: sans-serif;
  font-size: 2rem;
}

.img {
  width: 550px;
  height: 550px;
  -webkit-mask-image: url("../assets/mask.png");
  mask-image: url("../assets/mask.png");
  mask-size: cover;
  background: url("../assets/cheeseburger.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ingredients {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.ingredients .ing {
  display: flex;
  list-style: none;
  gap: 15px;
  padding: 10px 20px;
  border: 2px solid #f1efee;
  font-family: sans-serif;
  border-radius: 5px;
  width: fit-content;
}

.main-btn {
  display: none;
  background: transparent;
  border: none;
  border: 2px solid #1a53ff;
  padding: 10px;
  color: #ffa31a;
}

.slider-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-meals {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Aligner les images sur une seule ligne */
  gap: 2rem;
  color: #593316;
  padding: 40px 60px;
  overflow-x: scroll; /* Permet le défilement horizontal */
  scroll-behavior: smooth; /* Pour un défilement fluide */
  white-space: nowrap; /* Empêche les retours à la ligne des images */
  scrollbar-width: none; /* Masquer la barre de défilement sur Firefox */
}

.category-meals::-webkit-scrollbar {
  display: none; /* Masquer la barre de défilement sur Chrome, Safari et Edge */
}

.arrow-left, .arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255);
  color: #593316;
  font-size: 30px;
  border: 2px solid red;
  padding: 10px;
  cursor: pointer;
  z-index: 999;
  display: none; 
}

.category-meals.show-arrows + .arrow-left, .category-meals.show-arrows + .arrow-right {
  display: block; /* Afficher les flèches lorsque la classe .show-arrows est ajoutée */
}

.arrow-left {
  left: 20;
}

.arrow-right {
  right: 20;
}

.category-meals.hidden {
  opacity: 0;
  pointer-events: none; /* Éviter les clics pendant l'animation */
}

.meal-img {
  width: 150px;
  border-radius: 50%;
  filter: brightness(70%);
  transition: filter 0.3s ease;
}

.meal-img:hover {
  filter: brightness(100%);
}

section.section-info-container {
  color: #593316;
}

section.section-info-container .info-container {
  width: 70%;
  margin: auto;
}

section.section-info-container .info-container .steps-container {
  display: flex;
  align-items: center;
  gap: 3rem;
}

section.section-info-container .info-container .steps-container img {
  width: 400px;
  transform: scaleX(-1);
}

.error-message {
  color: red;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  color: #603813;
  border-top: 2px solid #b29f94;
  margin-top: 100px;
}

footer div.footer-content {
  display: flex;
  justify-content: space-between;
  width: 70%;
}